# MongoDB Atlas Connection
MONGODB_URI=mongodb+srv://Harshab34:HarshaB34@harshascluster.2fvz9tp.mongodb.net/?appName=HarshasCluster

# Server Configuration
PORT=10000
NODE_ENV=production

# JWT Configuration
JWT_SECRET=your_super_secret_jwt_key_12345
JWT_SECRET_KEY=49173a7f2921a8147fc374e33bfcaa736747252f141e6caf9ff1fde5e53e3798

# CORS Configuration (Update with your Vercel frontend URL after deployment)
FRONTEND_URL=https://git-hub-clone-gl5w.vercel.app
